*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 2% 0 2%;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}
.container{
    display: block;
    max-width: 1000px;
    margin: 50px auto 0;
    background-color: #fff;
}
.author-photo{
    max-width: 200px;
}
.author-photo > img{
    border-radius: 5%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.contact a{
    display: block;
}
.contact{
    float: left;
    vertical-align: middle;
    padding: 10px;
}
div[class="contact"]:last-child{
    clear: both;
}
.main-container{
    display: block;
    height: 100%;
}
.container-block{
    display: block;
    max-width: 100%;
    min-height: 300px;
    margin: 50px auto 0;
    padding: 25px;
    text-align: center;
    border-radius: 3%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.container-block:nth-child(2n+1){
    background-color:#e2e6eb;
}
.skills{
    float: left;
    margin: 20px 5%;
    max-width: 40%;
    height: 100%;
    text-align: center;
}
.skills ul{
    list-style-type: none;
}
.skills ul li{
    padding-top: 10px;
}
.skills ul li a{
    border-bottom: 0;
    text-decoration: none;
}
.skills ul li a:hover {
    color: #154088;
}
@media (max-width: 700px){
    /* CSS-стили */
    .author-photo {
        clear: both;
        margin-left: auto;
        margin-right: auto;
    }
    .main-container{
        margin: 50% 0 0 0;
    }
}
@media (min-width: 700px){
    .author-photo{
        position: fixed;
    }
    .main-container{
        margin: 0 0 0 220px;
    }
}